<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvaRkLzIQ_rd_9_S43_AYNaVJk0YPu7k4</string>
	<key>GCM_SENDER_ID</key>
	<string>951687956128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.featherpeakfury.featherpeakfurygame</string>
	<key>PROJECT_ID</key>
	<string>featherpeak-fury</string>
	<key>STORAGE_BUCKET</key>
	<string>featherpeak-fury.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951687956128:ios:52b68db3faf1e0f751abc5</string>
</dict>
</plist>